{% extends 'base.html' %}

{% block page_name %}
    Home
{% endblock %}

{% block content %}

    {% for room in rooms %}
        {{ room.name }} / {{ room.address }} <br/>
    {% endfor %}

    <h5>
        {% if page is not 1 %}
            <a href="?page={{ page|add:-1 }}">Previous</a>
        {% endif %}

        Page {{ page }} of {{ page_count }}

        {% if not page == page_count %}
            <a href="?page={{ page|add:1 }}">Next</a>
        {% endif %}

    </h5>





{% endblock %}