{% extends 'base.html' %}

{% block page_name %}
    Home
{% endblock %}

{% block content %}

    {% for room in rooms.object_list %}
        {{ room.name }} / {{ room.address }} <br/>
    {% endfor %}

    <h5>
        {% if rooms.has_previous %}
            <a href="?page={{ rooms.previous_page_number }}">Previous</a>
        {% endif %}

        Page {{ rooms.number }} of {{ rooms.paginator.num_pages }}

        {% if rooms.has_next %}
            <a href="?page={{ rooms.next_page_number }}">Next</a>
        {% endif %}

    </h5>





{% endblock %}