@tailwind base;
@tailwind components;

.search-box {
  transition: box-shadow 0.2s linear;
}

.nav_link {
  @apply ml-8 border-b-2 border-white h-full flex items-center;
  a {
    @apply py-10 px-5;
  }

  &:hover {
    @apply border-gray-600;
  }
}

.btn {
  @apply text-center rounded-sm py-5 text-lg font-light w-full;
  &.btn--small {
    @apply py-3 rounded-lg;
  }
}

.btn-link {
  @apply text-center rounded-sm py-5 text-lg font-light w-full bg-red-500 text-white py-3 rounded-lg;
}

input, textarea, select {
  @apply text-center rounded-sm py-5 text-lg font-light w-full text-left border border-gray-500 px-5;
  &:focus {
    @apply outline-none border-teal-500;
  }
}

textarea {
  resize: none;
  height: 200px;
}

select {
  height: 30px;
}

form {
  .input {
    @apply mb-3 w-full;
    &.has_error {
      input {
        @apply bg-red-200 border-gray-600
        &:focus {
          @apply border-gray-600;
        }
      }
    }

  }
}

@keyframes messageFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  5% {
    opacity: 1;
    transform: translateY(10px);
  }
  95% {
    opacity: 1;
    transform: translateY(10px);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.message {
  animation: messageFadeIn 2s ease-in-out forwards;

  &.error {
    @apply bg-red-500;
  }

  &.info {
    @apply bg-blue-400;
  }

  &.success {
    @apply bg-green-400;
  }

  &.warning {
    @apply bg-yellow-400;
  }
}

.border-section {
  @apply border-b border-gray-400 pb-6 mt-4;
}

.cal-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  justify-items: center;
}

@tailwind utilities;

